
/* NAVIGATION */

$navIconFont: 20px;
$navIconPadding: 5px;
$navLinkPadding: 12px;


/* COMPARISON */

$compCardHeight: 80px;
$compCardBackColor: #FFFFFF;
$compCardMargin-top: 20px;
$compBorder: 2px solid #98a7cb33;



/* COLORS */

$blueColor: #3969fb;
$blColorTrans: #3969fba6;
$backgroundColor: #fafcfe;
$textColor: #3e5695;
$greyColor: #98a7cb80;
$placeholderColor: #98a7cb;



/* PADDING */

$sectionPadding: 20px;
$trianglePadding: 10px;



/* FONTS */

$itemFont: 12px;



